{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
    <div class="jumbotron">
        <div class="jumbotron-image container">
            <h1 class="jumbotron-text text-center" style="font-family: Barlow, sans-serif">
            The Finest Road Bikes from Italy
            </h1>
        </div>
    </div>

    <div class="card-group text-center">
        <div class="card">
            <img class="card-img-top" src="/media/bianchi_logo.png" alt="bianchi-logo">
                <div class="card-body">
                    <h4 class="text-center card-title">BIANCHI</h4>
                    <a href="#" class="btn btn-success">Browse</a>
                </div>
        </div>
            <div class="card">
                <img class="card-img-top" src="/media/cinelli_logo.png" alt="cinelli-logo">
                    <div class="card-body">
                        <h4 class="text-center card-title">CINELLI</h4>
                        <a href="#" class="btn btn-danger">Browse</a>
                    </div>
        </div>
            <div class="card">
                <img class="card-img-top" src="/media/colnago_logo.png" alt="colnago-logo">
                    <div class="card-body">
                        <h4 class="text-center card-title">COLNAGO</h4>
                        <a href="#" class="btn btn-success">Browse</a>
                    </div>
            </div>            
    </div>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/media/de_rosa_logo.png" alt="de-rosa-logo">
                <div class="card-body">
                    <h4 class="text-center card-title">DE ROSA</h4>
                    <a href="#" class="btn btn-success">Browse</a>
                </div>
        </div>
            <div class="card">
                <img class="card-img-top" src="/media/pinarello_logo.png" alt="pinarello-logo">
                    <div class="card-body">
                        <h4 class="text-center card-title">PINARELLO</h4>
                        <a href="#" class="btn btn-danger">Browse</a>
                    </div>
        </div>
            <div class="card">
                <img class="card-img-top" src="/media/wilier_logo.png" alt="wilier-logo">
                    <div class="card-body">
                        <h4 class="text-center card-title">WILIER</h4>
                        <a href="#" class="btn btn-success">Browse</a>
                    </div>
            </div>            
    </div>


{% endblock %}
