{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
    <div class="jumbotron">
        <div class="jumbotron-image container">
            <h1 class="jumbotron-text text-center" style="font-family: Barlow, sans-serif">
            The Finest Road Bikes from Italy
            </h1>
        </div>
    </div>

    

   
<div class="container">
    <div class="row">
        <div class="brand-container text-center col-lg-4 col-md-6">
          <img src="/media/bianchi_logo.png" alt="bianchi logo">
            <a href="#" class="btn btn-danger" role="button">BIANCHI</a>
        </div>
        <div class="brand-container text-center col-lg-4 col-md-6">
          <img src="/media/cinelli_logo.png" alt="cinelli logo">
            <a href="#" class="btn btn-danger" role="button">CINELLI</a>
        </div>
        <div class="brand-container text-center col-lg-4 col-md-6">
          <img src="/media/colnago_logo.png" alt="colnago logo">
            <a href="#" class="btn btn-danger" role="button">COLNAGO</a>
        </div>
      </div>
      <div class="row">
        <div class="brand-container text-center col-lg-4 col-md-6">
          <img src="/media/de_rosa_logo.png" alt="de rosa logo">
            <a href="#" class="btn btn-danger" role="button">DE ROSA</a>
        </div>
        <div class="brand-container text-center col-lg-4 col-md-6">
          <img src="/media/pinarello_logo.png" alt="pinarello logo">
            <a href="#" class="btn btn-danger" role="button">PINARELLO</a>
        </div>
        <div class="brand-container text-center col-lg-4 col-md-6">
          <img src="/media/wilier_logo.png" alt="wilier logo">
            <a href="#" class="btn btn-danger" role="button">WILIER</a>
        </div>
      </div>
</div>

<div class="carousel-item">
  <img src="/media/Bianchi_Oltre.jpg" alt="Bianchi Oltre">
  <div class="carousel-caption">
    <h3>Bianchi Oltre</h3>
    <p>From £2,000</p>
  </div>
</div>
    

   

    


{% endblock %}
