{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
    <div class="jumbotron">
        <div class="jumbotron-image container">
            <h1 class="jumbotron-text text-center" style="font-family: Barlow, sans-serif">
            The Finest Road Bikes from Italy
            </h1>
        </div>
    </div>

    

   
<div class="container">
    <div class="row">
        <div class="brand-1 col-4">BIANCHI</div>
        <div class="brand-2 col-4">CINELLI</div>
        <div class="brand-3 col-4">COLNAGO</div>
      </div>
</div>
    


{% endblock %}
