{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}"> 
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">     
{% endblock %}

{% block content %}
    <div class="container">  
        <!--Shopping Cart Summary-->
        <div class="row">
            <div class="col-12 checkout-header">
                <p>
                    Shopping Cart Summary
                </p>   
                <hr class="cart-separator">   
            </div>
        </div>
        <div class="row cart-items-header lg-font">
            <div class="col-md-2 offset-md-1"></div>
            <div class="col-md-3 cart-hide">
                <p class="cart-item-header">Bike</p>
            </div>
            <div class="col-md-1">
                <p class="cart-item-header cart-hide">Price</p>
            </div>
            <div class="col-4 offset-4 col-md-2 offset-md-0">
                <p class="cart-item-header">Quantity</p>
            </div>
            <div class="col-4 col-md-2">
                <p class="cart-item-header">Subtotal</p>
            </div>                
        </div>          
        {% for item in cart_items %}                 
        <div class="row md-font">                   
            <div class="col-md-2 offset-md-1  cart-hide">
                <a href="{% url 'bike_detail' item.bike.id %}">
                    <img src="{{ MEDIA_URL }}{{ item.bike.image }}"    class="cart-image" alt="A Road Bike">
                </a>
            </div>
            <div class="col-4 col-md-3 cart-items">
                <p>{{ item.bike.name }}</p>
            </div>
            <div class="col-md-1 cart-items cart-hide">
                <p>£{{ item.bike.price }}</p>
            </div>   
            <div class="col-4 col-md-2 cart-items">
                <p>{{ item.quantity }}</p>
            </div>                        
            <div class="col-4 col-md-2 cart-items">
                <p>£{{ item.bike.price | cart_subtotal:item.quantity }}</p>
            </div>                                               
        </div>
        <hr>
        {% endfor %}                 
        <div class="row cart-total">
            <div class="col-4 offset-4 col-md-2 offset-md-7">
                <p class="cart-total-header">Total</p>
            </div>
            <div class="col-4 col-md-2">
                <p>£{{ total }}</p>
            </div>
        </div>
        <!--Shipping Information-->                   
        <div class="row">
            <div class="col-12 checkout-header">
                <p>
                    Shipping Information
                </p>   
                <hr class="cart-separator">   
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="fieldset-label">Shipping Details</legend>
                        {{ order_form.first_name | as_crispy_field }}
                        {{ order_form.last_name | as_crispy_field }}       
                        {{ order_form.email_address | as_crispy_field }}  
                        {{ order_form.address | as_crispy_field }}   
                        {{ order_form.postcode | as_crispy_field }}  
                        {{ order_form.town | as_crispy_field }}  
                        {{ order_form.comments | as_crispy_field }} 
                    </fieldset>        
                    <fieldset class="checkout-payment-card">
                        <legend class="fieldset-label">
                            Payment Card
                        </legend>
                        <!-- A Stripe card element will go here -->
                        <div id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="text-danger" id="card-errors" role="alert"></div>                       
                    </fieldset>
                    <div class="checkout-continue sm-font">
                        <button class="general-button checkout-buy-button"  id="submit-button">
                            Buy Now
                        </button>                        
                        <span>or
                            <a href="{% url 'view_cart' %}">Keep</a
                            >Shopping
                        </span>                            
                    </div>
                </form>                
            </div>
        </div>                
    </div>
    <div id="loading-overlay">
        <h1 class="loading-icon">
            <span>
                <i class="fas fa-spinner fa-pulse fa-lg"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}