{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}"> 
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">     
{% endblock %}

{% block content %}
    <div class="container">  
        <div class="row sm-font">
            <div class="col-12 checkout-header">
                <p>
                    Thank you for buying your new bike from Ciclo Italia!
                </p>
                <hr class="cart-separator"> 
            </div>
            <div class="col-12 checkout-success-message">
                <p>
                    Your order number is <span class="checkout-success-ordernumber">{{ order.order_number }}</span>
                </p>
                <p>
                    Thank you. We have received your order. We will let you know when your new bike has been shipped!
                </p>
                <div class="checkout-success-button">
                    <a href="{% url 'bikes' %}" class="general-button"> 
                        Back to our Bikes
                    </a>
                </div>
            </div>
        </div>
    </div> 

{% endblock %}