
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #fdfffa;
    font-family: 'Barlow';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Home Page */

/* Home Page Nav Bar */

#topnav {
    padding-bottom: 8px;
}

.site-logo-font {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.site-logo-link {
    width: fit-content;
}

.text-green {
    color: #198754 !important;
}

.text-red {
    color: #DC3545 !important;
}

.border-green {
    border: 1px solid #198754 !important;
}

.border-red {
    border: 1px solid #DC3545 !important;
}

.bg-white {
    background: #F8F8FF !important;
}
  
.my-link:hover {
    transform: scale(1.2);
}

/* Home Page Jumbotron*/

.jumbotron {
    height: 500px;
    width: 100%;
    background: url('/media/jumbotron_image.jpg') no-repeat center center fixed;
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

  .jumbotron-image {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  .jumbotron-text {
      font-size: 4rem;
  }

/* Home Page Brands */

.brand-container {
    justify-content: center;
    align-items: center;
    border: 1px solid #198754;
}

.brand-container img {
    width: 100%;
    height: auto;
}

/* --- Home Page Footer --- */

footer {
    height: 4rem;
    background-color: #F8F8FF;
    display: flex;
    margin:-80px auto 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

.clear-footer {
    padding-bottom: 200px;
}

/*--- Home Page Social Media icons ---*/

.social {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.social i {
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;
    color: #F8F8FF;
}

.social i:hover {
    transform: scale(1.2);
}
