
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: lightgray;
    font-family: 'Barlow';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Home Page */

/* Home Page Nav Bar */

.site-logo-font {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.site-logo-link {
    width: fit-content;
}

.text-green {
    color: #198754 !important;
}

.text-red {
    color: #DC3545 !important;
}

.border-green {
    border: 1px solid #198754 !important;
}

.bg-white {
    background: #EAE7EE !important;
}

/* Home Page Jumbotron*/

.jumbotron {
    height: 500px;
    width: 100%;
    background: url('/media/jumbotron_image.jpg') no-repeat center center fixed;
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

  .jumbotron-image {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  .jumbotron-text {
      font-size: 4rem;
  }

/* Home Page Cards */

.card-group {
    width: 90%;
}

.card-title {
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}

.card {
    margin: 10px;
    width: 30px;
    border: 1px solid #198754;
}