html {
    height: 100%;
}

body {
    color: lightgray;
    font-family: 'Barlow';
}

.jumbotron {
    background: url() no-repeat center center fixed;
    background-size: cover;

}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.site-logo-font {
    text-transform: uppercase;
}

.site-logo-link {
    width: fit-content;
}