{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'bikes/css/bikes.css' %}">      
{% endblock %}

{% block content %}
<div class="container">
    <div class="row bike-header sm-font">
        <div class="col-4">
            <a href="/">Home</a>
            {{ request.path }}
        </div>
        <div class="col-4 bike-quantity">
            <p>
                {{ bikes.count }} bike{% if bikes.count > 1 or bikes.count == 0 %}s
                {% endif %} 
                found             
            </p>
        </div>        
        <div class="col-4 bike-filter dropdown">
            <button class="dropdown-toggle bike-filter-button" type="button" data-toggle="dropdown">Filter by Brand
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'bikes' %}">All</a>
                </li>                
                <li>
                    <a href="{% url 'bikes' %}?brand=Brands_Bianchi">Bianchi</a>
                </li>
                <li>
                    <a href="{% url 'bikes' %}?brand=Brands_Cinelli">Cinellii</a>
                </li>
                <li>
                    <a href="{% url 'bikes' %}?brand=Brands_Colnago">Colnago</a>
                </li>
                <li>
                    <a href="{% url 'bikes' %}?brand=Brands_DeRosa">De Rosa</a>
                </li>
                <li>
                    <a href="{% url 'bikes' %}?brand=Brands_Pinarello">Pinarello</a>
                </li>
                <li>
                    <a href="{% url 'bikes' %}?brand=Brands_Wilier">Wilier</a>
                </li>
            </ul>
        </div>   
    </div>
    {% if bikes.count == 0 %}
    <div class="bikes-count-zero">
        <p>No bikes found</p>
    </div>
    {% endif %}
    <div class="row">
        {% for bike in bikes %}  
        <div class="col-12 col-md-4 bike-box-wrapper">
            <a href="{% url 'bike_detail' bike.id %}" class="bike-box mx-auto">  
                {% if bike.image %}            
                    <div>
                        <img src="{{ MEDIA_URL }}{{ bike.image }}" class="bike-image" 
                        alt="{{ bike.name }}">
                    </div>
                {% else %}  
                    <div>
                        <img src="{{ MEDIA_URL }}no_image_available.jpg"  class="bike-image" alt="no image">
                    </div>                
                {% endif %}
                <p class="bike-name md-font">{{ bike.name }}</p>           
                <p>{{ bike.brand }}</p>                      
                <p class="bike-price md-font">£{{ bike.price }}</p>  
            </a>   
            <!--Add to cart button, code from CI lesson 'Adding Products-->                  
            <form class="add-to-cart-form" action="{% url 'add_to_cart' bike.id %}" method="POST">
                {% csrf_token %}
                <div class="quantity-input">
                    <input type="hidden" name="quantity" value="1" data-bike-id="{{ bike.id }}" id="id_qty_{{ bike.id }}">
                </div>
                <button class="general-button" type="submit">
                    Add to Cart
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}{{ bike.id }}">
            </form>                              
        </div>
        {% endfor %}         
    </div>
</div>
{% endblock %}