{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'bikes/css/bikes.css' %}">   
{% endblock %}

{% block content %}

<div class="container">
    <div class="row bike-header sm-font">
        <div class="col-12 bikepage-path">
            <a href="/">Home</a>
            <span>/</span>
            <a href="{% url 'bikes' %}">Bikes</a>
            <span>/</span>
            <span>{{ bike.id }}</span>            
        </div>         
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <a href="{{ MEDIA_URL }}{{ bike.image }}" target="_blank" class="bike-box mx-auto">  
                {% if bike.image %}            
                    <div>
                        <img src="{{ MEDIA_URL }}{{ bike.image }}" class="bike-image" 
                        alt="{{ bike.name }}">
                    </div>
                {% else %}  
                    <div>
                        <img src="{{ MEDIA_URL }}no_image_available.jpg" class="bike-image" alt="no image">
                    </div>                
                {% endif %}
            </a>                    
        </div>
        <div class="col-12 col-lg-6">
            <p class="bike-name lg-font">{{ bike.name }}</p>           
            <p>{{ bike.brand }} | Item # {{ bike.sku }}</p>                      
            <p class="bike-price md-font">£{{ bike.price }}</p>  
            <p class="bike-description sm-font">{{ bike.description }}</p> 
            <!--Add to cart button, code from CI lesson 'Adding Products-->  
            <form action="{% url 'add_to_cart' bike.id %}" method="POST">
                {% csrf_token %}
                <div class="quantity-input-header">
                    <p>Quantity:</p>
                </div>                  
                <div class="quantity-input">
                    <input type="number" name="quantity" value="1" min="1" max="10" data-bike-id="{{ bike.id }}" id="id_qty_{{ bike.id }}">
                </div>
                <button class="general-button" type="submit">
                    Add to Cart
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 review sm-font">
            <div class="review-header">
                <p>Reviews</p>
                <hr>
            </div>
            {% if bike_reviews.count %}
                {% for review in bike_reviews %}
                <div class="review-wrapper"> 
                    <p class="review-comment">"{{ review.comment }}"</p>
                    <p class="review-name">{{ review.name }}</p>  

                    {% if review.user_review == request.user %}
                    <form action="{% url 'delete_bike_review' review.id %}" method="POST">
                        {% csrf_token %} 
                        <div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">                
                            <button class="review-delete xs-font" type="submit">
                                <i class="far fa-trash-alt"></i> Delete Review
                            </button>
                        </div>
                    </form>    
                    {% endif %} 

                </div>
                {% endfor %}  

            {% else %}
                <h2>Write Your Review!</h2>
            {% endif %}

            {% if user.is_authenticated %}
            <form action="{% url 'add_bike_review' bike.id %}" method="POST">
                {% csrf_token %}       
                <div class="review-form">
                    {{ bike_review_form.name | as_crispy_field }}     
                    {{ bike_review_form.comment | as_crispy_field }} 
                    <!--Redirect to same bike after form is submitted-->
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <!--Reviews can only be entered once logged in-->
                    <button class="general-button review-add-button">Add Your Review</button>
                </div>  
            </form>    
        
            {% else %}
            <div class="review-login">
                <p>Please <a href="{% url 'account_login' %}">login</a> to add your review</p>
            </div>
            {% endif %}                    
 
        </div>
    </div>
</div>

{% endblock %}