{% load static %}

<!-- Desktop nav menu  -->
<div class="d-none d-lg-flex col-lg-5 col-xl-6">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link text-red">
                Home
            </a>
        </li>
        
        <!-- Brands dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-green" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu rounded-0 border-0 m-0">
                <div class="hr-dark w-100"></div>
                <div class="hr-dark w-100 text-center"></div>
                <a class="dropdown-item text-green" href="">Bianchi
                </a>
                <a class="dropdown-item text-green" href="">Cinelli
                </a>
                <a class="dropdown-item text-green" href="">Colnago
                </a>
                <a class="dropdown-item text-green" href="">De Rosa
                </a>
                <a class="dropdown-item text-green" href="">Pinarello
                </a>
                <a class="dropdown-item text-green" href="">Wilier
                </a>
            </div>
        </li>

        <!-- Offers dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-red" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu rounded-0 border-0 m-0">
                <div class="hr-dark w-100"></div>
                <div class="hr-dark w-100"></div>
                <a class="dropdown-item text-red" href="">New Arrivals
                </a>
                <a class="dropdown-item text-red" href="">Latest Deals
                </a>
                <a class="dropdown-item text-red" href="">Clearance
                </a>
            </div>
        </li>

         <!-- Reviews link -->
        <li class="nav-item">
            <a href="" class="nav-link text-green">
                Reviews
            </a>
        </li>
       
        <!-- Blog link -->
        <li class="nav-item">
            <a href="" class="nav-link text-red">
                Blog
            </a>
        </li>

         <!-- Contact link -->
        <li class="nav-item">
            <a href="" class="nav-link text-green">
                Contact
            </a>
        </li>
    </ul>
</div>