{% load static %}

<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="The Finest Road Bikes from Italy" />
        <meta name="author" content="Sean Russell">
    {% endblock %}

    {% block extra_meta %} 
    {% endblock %} 

    {% block fontkit %}
        <script src="https://kit.fontawesome.com/0de10ebe0d.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %} 

    {% block extra_js %} 
    {% endblock %}

    <title>Ciclo Italia {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="fixed-top">
        <!--Bootstrap Navbar-->
        <nav class="navbar navbar-dark navbar-expand-xl md-font icon">
            <a class="navbar-brand text-green" id="logo" href="/">Ciclo Italia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link link-underline text-red" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-underline text-green" href="{% url 'bikes' %}">Bikes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-underline text-red" href="{% url 'reviews' %}">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-underline text-green" href="{% url 'blogs' %}">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-underline text-red" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-underline text-green" href="{% url 'profile' %}">My Profile</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-underline text-red" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-underline text-green" href="{% url 'account_signup' %}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="nav-item cart">
                    <a class="nav-link" href="{% url 'view_cart' %}">
                        <i class="fas fa-shopping-cart lg-font"></i>
                        {% if bike_count %}
                        <span class="cart-icon-quantity">{{ bike_count }}</span>
                        {% endif %}
                    </a>
                </div>
                <div>
                    <form class="form-inline my-2 my-lg-0 justify-content-center nav-search" method="GET" 
                    action="{% url 'bikes' %}">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="sm-font my-2 my-sm-0 search-form-button" type="submit">
                            <span class="icon">
                                <i class="fas fa-search fa-lg"></i>
                            </span> Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
    <!--Scroll-to-top button-->
    <button id="scroll-top-button" ><i class="fas fa-arrow-up"></i></button>

    <footer class="sm-font">
        <div class="container-fluid">
            <div class="row footer-link-wrapper">
                <div class="col-12 col-md-4 social-media-wrapper">
                    <div class="row">
                        <div class="col-12 social-media-header">
                            <p>Follow Us</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <a href="https://facebook.com" class="social-media facebook" target="_blank" rel="noopener">
                                <i class="fab fa-facebook-square fa-lg text-green" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://twitter.com" class="social-media twitter" target="_blank" rel="noopener">
                                <i class="fab fa-twitter-square fa-lg text-red" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://instagram.com" class="social-media instagram" target="_blank" rel="noopener">
                                <i class="fab fa-instagram-square fa-lg text-green" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </div> 
                        <div class="col-3">
                            <a href="https://youtube.com" class="social-media youtube" target="_blank" rel="noopener">
                                <i class="fab fa-youtube-square fa-lg text-red" aria-hidden="true"></i>
                                <span class="sr-only">YouTube</span>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://pinterest.com" class="social-media pinterest" target="_blank" rel="noopener">
                                <i class="fab fa-pinterest-square fa-lg text-green" aria-hidden="true"></i>
                                <span class="sr-only">Pinterest</span>
                            </a>
                        </div> 
                                                
                    </div>
                </div> 
                <div class="col-12 col-md-4">
                    <div class="footer-links">
                        <a href="{% url 'home' %}" class="link-underline">Home</a>
                    </div>
                    <div class="footer-links ">
                        <a href="{% url 'toys' %}" class="link-underline">Bikes</a>
                    </div>
                    <div class="footer-links ">
                        <a href="{% url 'reviews' %}" class="link-underline">Reviews</a>
                    </div>
                    <div class="footer-links">
                        <a href="{% url 'blogs' %}" class="link-underline">Blogs</a>
                    </div>
                    <div class="footer-links">
                        <a href="#" class="link-underline" id="show-contact-form">Contact</a>
                    </div>
                </div>                                     
                <div class="col-12 col-md-4 copyright">
                    <p>Copyright 2021 © <b>Sean Russell</b></p>
                    <p class="xs-font">For Educational Purposes Only</p>
                    <div class="lg-font owner-social-media">
                        <a href="https://github.com/sruss07" target="_blank">
                            <i class="fab fa-github-square"></i>
                        </a>
                        <a href="www.linkedin.com/in/seanrussell07" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>                    
                    </div>
                </div>
            </div> 
        </div>  
        <!--Contact form-->
        <div class="container-fluid">     
            <div class="row contact-form mx-auto">
                <div class="col-1 offset-11">
                    <a href="#" class="lg-font" id="hide-contact-form">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="col-12">
                    <h1>Contact</h1>
                    <form action="{% url 'landing' %}" method="POST">
                        {% csrf_token %}
                        <label>Name</label>
                        <input class="form-control contact-form-input" type="text" placeholder="Name" required>
                        <label>Email</label>

                        {% if user.is_authenticated %}
                        <input class="form-control contact-form-input" type="text" name="emailaddress" value="{{user.email}}" required>

                        {% else %}
                        <input class="form-control contact-form-input" type="text" name="emailaddress" placeholder="Email Address" required>
                        
                        {% endif %}
                        <label>Message</label>
                        <textarea class="form-control contact-form-input" name="message" cols="20" rows="5" placeholder="Message" required></textarea>
                        <button class="general-button" type="submit" id="contact-button">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <!--Toast messages; code taken from CI lesson 'Toasts'-->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% include 'includes/toasts/toasts.html'%}
            {% endfor %}
        </div>
    {% endif %}
    {% block postloadjs %}
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous">
    </script>

     <!-- AOS Scroll JS -->
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>  
     {% endblock %}
        
  </body>
</html>