{% load static %}

<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="The Finest Bikes from Italy" />
        <meta name="author" content="Sean Russell">
    {% endblock %}

    {% block extra_meta %} 
    {% endblock %} 

    {% block fontkit %}
        <script src="https://kit.fontawesome.com/0de10ebe0d.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %} 

    {% block extra_js %} 
    {% endblock %}

    <title>Ciclo Italia {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="fixed-top">
        <!--Bootstrap Navigation menu-->
        <nav class="navbar navbar-dark navbar-expand-xl nav-color md-font" id="testcolor">
            <a class="navbar-brand" id="logo" href="/">Ciclo Italia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link underline-transition" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link underline-transition" href="">Bikes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link underline-transition" href="">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link underline-transition" href="">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link underline-transition" href="">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link underline-transition" href="">My Profile</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link underline-transition" href="">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link underline-transition" href="">Signup</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="nav-item cart">
                    <a class="nav-link" href="">
                        <i class="fas fa-shopping-cart lg-font"></i>
                        {% if toy_count %}
                        <span class="cart-icon-quantity">{{ toy_count }}</span>
                        {% endif %}
                    </a>
                </div>
                <div>
                    <form class="form-inline my-2 my-lg-0 justify-content-center nav-search" method="GET" action="">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="sm-font my-2 my-sm-0 search-form-button" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <hr class="navbar-separator">
    </header>

    <!-- Display messages block -->
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}


    <!-- Page header block -->
    {% block page_header %}
    {% endblock %}

    <!-- Additional page content block -->
    {% block content %}
    {% endblock %}

   

    {% block postloadjs %}
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
        
  </body>
</html>
